{%extends "home.html" %}

{%block content%}
<h1>Make Payment!!</h1>
<form method="post">
    {%csrf_token%}
<table class="table">
    <tr><td>Enter Card No.</td>
    <td><input type="text" name="cardno" placeholder="Card No" class="form-control" required/></td></tr>
    <tr><td>Enter CVV</td>
        <td><input type="text" name="cvv" class="form-control" placeholder="CVV" required/></td></tr>

        <tr><td>Enter Expiry</td>
            <td><input type="text" name="expiry" class="form-control" required placeholder="Expiry"/></td></tr>
        
        <tr><td>Total Amout</td>
                <td>{{request.session.total}}</td></tr>
                
        <tr>
<td><button type="submit" class="btn btn-success">Make Payment</button></td>
</tr>
</table>
</form>
{%endblock%}